<h1>New Reminder created by <%= @by %></h1>
  <p>
    ABOUT : <%= @reminder.body %><br>
    LOCATION : <%= @reminder.location %><br>	
    TIMING : <%= @reminder.timings %><br>
  </p>
<p>Have a great day!</p>