new.html.erb

---------------------
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">Title of the reminder.</small>
  </div>
    <div class="form-group">
    <label for="exampleFormControlTextarea1">Body</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    <small id="emailHelp" class="form-text text-muted">Explain About of the reminder.</small>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
    <label class="form-check-label" for="defaultCheck1">
    Public 
    </label>
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
    <label class="form-check-label" for="defaultCheck1">
    Private 
    </label>
  </div>
  <div class="input-group date" data-provide="datepicker">
    <input type="date" class="form-control">
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
    </div>
  </div>
  <div class="input-group time" data-provide="datepicker">
    <input type="time" class="form-control">
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
    </div>
</div>
  <div class="form-group">
    <label for="inputAddress">Location</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
  <label class="form-check-label" for="defaultCheck2">
    Private
  </label>
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


index.html.erb

---------------------
<h1>Welcome to reminder App</h1>
<%= link_to "<button type='button' class='btn btn-primary'>New</button>",new_reminders_path %>
<br><br>
<%#= link_to "logout",destroy_user_session_path,method: :delete%>
<div class="col-lg-12">
          <div class="well sidebar-nav">
            <h3>MEETING</h3>
            <ul class="nav nav-list">
              <li>Timings:  11/8/2018    09:00 AM</li>
              <li>Location: NYC</li>
            </ul>
          </div><!--/.well -->
</div><!--/span-->
<div class="col-lg-12">
          <div class="well sidebar-nav">
            <h3>MEETING</h3>
            <ul class="nav nav-list">
              <li>Timings:  11/8/2018    09:00 AM</li>
              <li>Location: NYC</li>
            </ul>
          </div><!--/.well -->
</div><!--/span-->
<div class="col-lg-12">
          <div class="well sidebar-nav">
            <h3>MEETING</h3>
            <ul class="nav nav-list">
              <li>Timings:  11/8/2018    09:00 AM</li>
              <li>Location: NYC</li>
            </ul>
          </div><!--/.well -->
</div><!--/span-->